<div class="col-xs-10 col-xs-offset-1">
  <% @institutes.each do |institute| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-4 line text-center" style="min-height: 250px">
          <img src="<%= image_url('background/2.jpeg') %>" width="250">
        </div>
        <div class="col-xs-8" style="min-height: 250px; position: relative">
          <div style="margin-top: 20px;">
            <h4><%= institute.name %></h4>
            <p class="lead"><%= institute.description %></p>
            <div class="row text-center" style="bottom: 2%; width: 100%; position: absolute">
              <div class="col-xs-4">
                <p><%= institute.reviews.average(:rating).round(1) || 0 %> Rating</p>
              </div>
              <div class="col-xs-4">
                <p><%= institute.reviews.count %> Reviews</p>
              </div>
              <div class="col-xs-4">
                <a>Details..</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
