<div class="form_style">
  <h2>Sign Up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <%= f.text_field :first_name, autofocus: true, placeholder: "First Name" %>
      </div>
      <div class="field">
        <%= f.text_field :last_name, placeholder: "Last Name" %>
      </div>
      <div class="field">
        <%= f.email_field :email, placeholder: "Email Address" %>
      </div>
      <div class="field">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation" %>
      </div>
      <div class="actions">
        <%= f.submit "Create an Account", class:"btn action_btn" %>
      </div>
  <% end %>
  <hr>
  <h2>I have an account</h2>
  </hr>
  <%= link_to "Log in", new_session_path(resource_name) %>
</div>
